body {
    background-color: rgba(61, 193, 255, 0.606);
}

header {
    padding: 20px;
    background-color: rgb(110, 209, 255);
}
h1{
    color: brown;
}
h3{
    color: blueviolet;
}
img{
    border: 2px solid;
    border-color: yellow;
}